.messageItem {
  display: flex;
  flex-direction: column;
  background-color: rgb(255,255,157);
  border-radius: 5px;
  margin-top: 8px;
  height: 6em;
  align-items: center;
  overflow: scroll;
}

h6 {
  align-self: flex-end;
  padding-right: 0.5em;
}

.textMessage {
  flex: 1;
  justify-content: center;
  align-items: center;
  /* word-wrap: break-word; */
  overflow-wrap: break-word;
  /* word-break: break-all; */
  color: rgb(105, 105, 103);
  padding: 0.2em;
}
