.App {
  text-align: center;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: gray;
  background-color: lightgreen;
  padding: 0.5em;
}

.switchContainer {
  padding: 1em;
  color: white;
}
