.welcomeTitle {
  color: white;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mainItem {
  margin-top: 1em;
  width: 100%;
  max-width:500px
}

.marginTop {
  margin-top: 1em !important;
}

.createChannelButtonContainer {
  flex: 1;
}

.goToChatWallContainer {
  flex: 1;
}

.errorMessageContainer {
  margin-top: 1em;
}

.instructionsContainer {
  margin-top: 2em;
}
.instructionsContainer h3 {
  color: white;
}
